.updated-list {
    h1 {
        font-weight: 700;
        font-style: normal;
    }

    ul {
        list-style-image: url(../../assets/images/icon-list.svg);

        li {
            padding-left: 1rem;
        }
    }
}